{% if settings.enable_block_carousel %}	
<div id="carousel-top">
  {% for i in (1..5) %}
  {% capture enable_slide %}enable_slide_image_{{ i }}{% endcapture %}
  {% capture block_carousel_title %}block_carousel_title{{ i }}{% endcapture %}
  {% capture slide_img %}block_slide{{ i }}.jpg{% endcapture %}

  {% capture block_slide_link %}block_slide_content_{{ i }}_link{% endcapture %}
  {% capture block_slide_content %}block_slide_content_{{ i }}{% endcapture %}
  {% if settings[enable_slide] %}
  <div class="slide-carousel">
    <a href="{{ settings[block_slide_link] }}">
      <div class="images">
        {{ slide_img | asset_url | img_tag }}
        <div class="over-block"></div>
      </div>
      <div class="content-slider">    
        {% if settings[block_carousel_title] != blank %}
        <div class="block-text">{{ settings[block_carousel_title] }}</div>
        {% endif %}
        {% if settings[block_slide_content] != blank %}
        <div class="mt-block-text"> {{ settings[block_slide_content] }}</div>
        {% endif %}                       
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}


<script>
  $(document).ready(function() {
    $("#carousel-top").owlCarousel({
      itemsCustom : [
        [320, 1],
        [360, 1],
        [450, 1],
        [600, 2],
        [700, 2],
        [1000, 3],
        [1200, 4],
        [1400, 5],
        [1600, 5]
      ],
      autoPlay : false,
      stopOnHover : false,

      lazyLoad : false,
      lazyFollow : true,
      lazyEffect : "fade",
      pagination : false,

      // Navigation
      navigation : true,
      navigationText : ['<i class="clever-icon-preview"></i>','<i class="clever-icon-next"></i>'],
      rewindNav : true,
      scrollPerPage : false,

    });

  })

</script>























