<div class ="col-xs-12 col-sm-12" >
  <div class="heading-block block-home-category-title">
    <h3 class="title">Shop by Pet</h3>
  </div>
</div>
<div class="col-xs-12 col-sm-6 home-category-item-1">
  <div class="block-home-category">
    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'block_home_category1.jpg' | asset_url }}" width="100%" height="100%">
    <div class="block-content">
      {% if settings.block_text_content_1_home_category != blank %}
      <h3>{{ settings.block_text_content_1_home_category }}</h3>
      {% endif %}
      {% if settings.block_category_button_1 != blank %}
      <a href="{{ settings.block_category_link_1 }}">
        {{ settings.block_category_button_1 }}
      </a>
      {% endif %}
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 home-category-item-2">
  <div class="block-home-category">
    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'block_home_category2.jpg' | asset_url }}" width="100%" height="100%">
    <div class="block-content">
      {% if settings.block_text_content_2_home_category != blank %}
      <h3>{{ settings.block_text_content_2_home_category }}</h3>
      {% endif %}
      {% if settings.block_category_button_2 != blank %}
      <a href="{{ settings.block_category_link_2 }}">
        {{ settings.block_category_button_2 }}
      </a>
      {% endif %}
    </div>
  </div>
</div>