 <div class ="col-xs-12 col-sm-12" >
  <div class="heading-block block-home-category-title">
    <h3 class="title">Shop by Product</h3>
  </div>
</div>

<div class="col-xs-12 col-sm-4 home-category-item-1">
  <div class="block-home-category">
     <a href="{{ collections['training'].url }}">
   <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'category-training.jpg' | asset_url }}">
    </a>
  </div>
</div>
<div class="col-xs-12 col-sm-4 home-category-item-2">
  <div class="block-home-category">
      <a href="{{ collections['grooming'].url }}">
    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'category-grooming.jpg' | asset_url }}">
      </a>
  </div>
</div>
<div class="col-xs-12 col-sm-4 home-category-item-3">
  <div class="block-home-category">
      <a href="{{ collections['cleaning'].url }}">
    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ 'category-cleaning.jpg' | asset_url }}">
      </a>
  </div>
</div>