{% capture menuvideo %}menuitem_evideo_{{ intMega }}{% endcapture %}
{% capture menuproduct %}menuitem_eproduct_{{ intMega }}{% endcapture %}
{% capture menuhtml %}menuitem_ehtml_{{ intMega }}{% endcapture %}
{% capture menulink %}menuitem_eblocklinks_{{ intMega }}{% endcapture %}

{% capture menu_colvideo %}menuitem_columns_blockvideo_{{ intMega }}{% endcapture %}
{% capture menu_colproduct %}menuitem_columns_blockproducts_{{ intMega }}{% endcapture %}
{% capture menu_colhtml %}menuitem_columns_blockhtml_{{ intMega }}{% endcapture %}
{% capture menu_collink %}menuitem_columns_blocklinks_{{ intMega }}{% endcapture %}

	{% capture width %}menuitem_width_{{ intMega }}{% endcapture %}

	{% capture menustyle %}style='width:{{ settings[width] }}'{% endcapture %}

<div class="dropdown-sub sub-{{ intMega }}" {{ menustyle }} >
	<div class="dropdown-menu-inner">
		<div class="row">
			{% if settings[menulink] %}
				<div class="mega-item col-sm-{{ settings[menu_collink] }} col-md-{{ settings[menu_collink] }}">
                  	{% capture menu_col_links %}menuitem_columns_{{ intMega }}{% endcapture %}
					{% include 'menu-blocklinks' %}
				</div>
			{% endif %}
			{% if settings[menuvideo] %}
				<div class="mega-item col-sm-{{ settings[menu_colvideo] }} col-md-{{ settings[menu_colvideo] }}">
                {% capture menu_video %}menuitem_cvideo_{{ intMega }}{% endcapture %}
				{% include 'menu-blockvideos' %}
				</div>
			{% endif %}
			{% if settings[menuproduct] %}
				<div class="mega-item col-sm-{{ settings[menu_colproduct] }} col-md-{{ settings[menu_colproduct] }}">
                  	{% capture collection_menu %}menuitem_cproduct_{{ intMega }}{% endcapture %}
                    {% capture collection_menu_title %}menuitem_tproduct_{{ intMega }}{% endcapture %}
                    {% capture collection_product_limit %}menuitem_nproduct_{{ intMega }}{% endcapture %}
					{% include 'menu-blockproducts' %}
				</div>
			{% endif %}
			{% if settings[menuhtml] %}
				<div class="mega-item col-sm-{{ settings[menu_colhtml] }} col-md-{{ settings[menu_colhtml] }}">
                  {% capture menu_html_title %}menuitem_thtml_{{ intMega }}{% endcapture %}
                  {% capture menu_html_img %}mega_images_{{ intMega }}.jpg{% endcapture %}
                  {% capture menu_html_des %}menuitem_chtml_{{ intMega }}{% endcapture %}
					{% include 'menu-blockhtml' %}
				</div>
			{% endif %}
		</div>
	</div>
</div>