
{% assign delayTime = 200 | times : forloop.index %}
{% if settings.collection_results_per_row != blank and settings.collection_results_per_row != '' %}
{% assign product_grid = 12 | divided_by: settings.collection_results_per_row %}
{% assign columns = 12 | divided_by: product_grid %}
{% assign lable_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign lable_sale = true %}
{% endif %}

<div class="grid-item product-item col-md-{{settings.collection_results_per_row}} col-sm-{{settings.collection_results_per_row}} col-xs-12" id="product-{{ product.id }}">
  {% else %}
  <div class="grid-item product-item col-md-{{settings.collection_results_per_row}} col-sm-{{settings.collection_results_per_row}} col-xs-12" id="product-{{ product.id }}">
    {% endif %}

    {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
    you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
    - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

    {% endcomment %}
    <div class="product-inner {% if lable_out %} out-stock-product {% endif %}">
      <div class="product-image">
        {% if lable_sale or lable_out %}
        <div class="product-label">
          {% if lable_sale %}
          -{{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max |round: 0 }}%
          {% endif %}
          {% if lable_out %}
          <span>out of stock</span>
          {% endif %}
        </div>
        {% endif %}

        {% for tag in product.tags %}	
        {% if settings.display_new_tag %}
        {% if tag contains settings.new_tag_text %}									
        <div class="sale_tag{% if lable_sale %} margin_top{% endif %}">{{ settings.new_tag_text }}</div>
        {{ tag | remove: settings.new_tag_text }}							
        {% endif %}
        {% endif %}
        {% endfor %} 

        <a href="{{ product.url | within: collection }}" class="grid-image">
          <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image.src | product_img_url: 'large' }}" width="100%" height="100%">
          {% if settings.product_image_hover %}
          <span class="product-image-hover" data-idproduct="{{ product.id }}">
            {% for image in product.images %}
            {% if forloop.first != true %}
            <img alt="{{ product.title }}" src="{{ image.src | product_img_url: 'large' }}">
            {% break %}
            {% endif %}
            {% endfor %}
          </span>
          {% endif %}
        </a>
        {% include 'add-to-link' %}
      </div>
      <div class="product-content">
        <h3>
          <a class="product-title {% if product.title contains 'FurryFreshness ' %}product-title--split{% endif %}" href="{{ product.url | within: collection }}">
            {% if product.title contains 'FurryFreshness ' %}
              <strong>FurryFreshness</strong>{{ product.title | remove: 'FurryFreshness' }}
            {% else %}
              {{ product.title }}
            {% endif %}
          </a>
        </h3>
        
        <!-- Stamped - Begin Star Rating Badge -->
        <span 
        class="stamped-product-reviews-badge" 
        data-id="{{ product.id }}"
        data-product-sku="{{ product.handle }}" 
        data-product-type="{{product.type}}" 
        data-product-title="{{product.title}}" 
        style="display:block;">
        {{product.metafields.stamped.badge}}
        </span>
        <!-- Stamped - End Star Rating Badge -->
        
        <div class="product_loop hover">
          <div class="product_loop_switcher">
            <div class="price-box">
              {% if lable_sale %}
              <p class="sale">
                <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
                <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
              </p>
              {% else %}
              <p class="regular-product">
                {% comment %}
                You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                if your variants have different prices.
                {% endcomment %}
                <span >{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
              </p>
              {% endif %}
            </div>
            <div class="add-to-cart">
              {% assign variantCount = product.variants | size %}
              <form action="/cart/add" method="post" class="variants" id="product-actions-{{ product.id }}" enctype="multipart/form-data" style="padding:0px;">    
                {% if lable_out %}
                <input class="add-to-cart-btn" type="submit" value="Unavailable" disabled="disabled" />
                {% else %}
                {% if variantCount > 1 %}
                <button class="add-to-slect-btn" type="button" onclick="window.location.href='{{product.url}}'">Select options</button>
                {% else %}
                <input type="hidden" name="id" value="{{ product.variants[0].id }}" />      
                <button class="add-to-cart-btn" type="submit">Add to Cart</button>
                {% endif %}
                {% endif %}
              </form>
            </div>
          </div>
        </div>
        {% if settings.product_style_images_click %}
        <ul class="color-swatch-item">  
          {% for option in product.options %}
          {% if option == 'Color' %}
          {% assign index = forloop.index0 %}
          {% assign colorlist = '' %}
          {% assign color = '' %}
          {% for variant in product.variants %}
          {% capture color %}
          {{ variant.options[index] }}
          {% endcapture %}
          {% unless colorlist contains color %} 
          {% if variant.image.src != blank %}
          <li><a href="javascript:void(0);" data-image="{{ variant.image.src | img_url: 'large' }}"><img src="{{ color | downcase | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url }}" alt="{{ color }}" /></a></li>
          {% endif %}
          {% capture tempList %}
          {{colorlist | append: color | append: ' '}}
          {% endcapture %}
          {% assign colorlist = tempList %}
          {% endunless %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        <p class="short-description">{{ product.description | strip_html | truncatewords: 50 }}</p>


      </div>
    </div>      
  </div>
