{% comment %}
This snippet is used to showcase each product during the loop,
'for product in collection.products' in collection.liquid.

This example has three products per column on desktop, two on
our medium breakpoint, and a single row on small screens.
{% endcomment %}

{% comment %}
Check if the product is on sale and set a variable to be used below.
{% endcomment %}

{% assign lable_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign lable_sale = true %}
{% endif %}

{% comment %}
Check if the product is sold out and set a variable to be used below.
{% endcomment %}

{% assign lable_out = true %}
{% if product.available  %}
{% assign lable_out = false %}
{% endif %}

{% comment %}
Set a class for sold-out and on-sale items
{% endcomment %}

{% assign product_limitation = 0 %}
{% if settings.display_infinite_scrolling_homepage %}
{% assign product_limitation = settings.product_list_limit | plus: 0 %}
{% assign productIndex = forloop.index |minus:1 | modulo: product_limitation %}
{% else %}
{% assign productIndex = forloop.index |minus:1 %}
{% endif %}

{% assign delayTime = 200 | times : productIndex %}
{% if settings.collection_results_per_row1 != blank and settings.collection_results_per_row1 != '5' %}
{% assign product_grid = 12 | divided_by: settings.collection_results_per_row1 %}
{% assign columns = 12 | divided_by: product_grid %}
<div class="grid-{{product_grid}} per-product" id="product-{{ product.id }}" >
  {% else %}
  <div class="grid-item product-item" id="product-{{ product.id }}" >
    {% endif %}
    <div class="product-inner grid-item">
      <div class="product-image col-lg-3 col-md-3 col-sm-3 col-xs-3">
        {% if lable_sale or lable_out %}
        <div class="product-label">
          {% if lable_sale %}
          -{{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max |round: 0 }}%
          {% endif %}
          {% if lable_out %}
          <span>out of stock</span>
          {% endif %}
        </div>
        {% endif %}
        {% for tag in product.tags %}	
        {% if settings.display_new_tag %}
        {% if tag contains settings.new_tag_text %}									
        <div class="sale_tag{% if lable_sale %} margin_top{% endif %}">{{ settings.new_tag_text }}</div>
        {{ tag | remove: settings.new_tag_text }}							
        {% endif %}
        {% endif %}
        {% endfor %} 
        <a href="{{ product.url | within: collection }}" class="grid-image">
          <img class="feature-images" src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
          {% if settings.product_image_hover %}
          <span class="product-image-hover" data-idproduct="{{ product.id }}">
            {% for image in product.images %}
            {% if forloop.first != true %}
            <img alt="{{ product.title }}" src="{{ image.src | product_img_url: 'large' }}">
            {% break %}
            {% endif %}
            {% endfor %}
          </span>
          {% endif %}
        </a>
      </div>
      <div class="product-content col-lg-9 col-md-9 col-sm-9 col-xs-9 ">
        <h3>
          <a class="product-title {% if product.title contains 'FurryFreshness ' %}product-title--split{% endif %}" href="{{ product.url | within: collection }}">
            {% if product.title contains 'FurryFreshness ' %}
              <strong>FurryFreshness</strong>{{ product.title | remove: 'FurryFreshness' }}
            {% else %}
              {{ product.title }}
            {% endif %}
          </a>
        </h3>    
        <div class="price-box">
          {% if lable_sale %}
          <p class="sale">
            <span class="old-price"> {{ product.compare_at_price_min | money }}</span>
            <span class="special-price">{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
          </p>
          {% else %}
          <p class="regular-product">
            {% comment %}
            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
            if your variants have different prices.
            {% endcomment %}
            <span >{% if product.price_varies %}<em>from </em>{% endif %}{{ product.price_min | money }}</span>
          </p>
          {% endif %}
        </div>
        {% if settings.product_style_images_click %}
        <ul class="color-swatch-item">  
          {% for option in product.options %}
          {% if option == 'Color' %}
          {% assign index = forloop.index0 %}
          {% assign colorlist = '' %}
          {% assign color = '' %}
          {% for variant in product.variants %}
          {% capture color %}
          {{ variant.options[index] }}
          {% endcapture %}
          {% unless colorlist contains color %} 
          {% if variant.image.src != blank %}
          <li><a href="javascript:void(0);" data-image="{{ variant.image.src | img_url: 'large' }}"><img src="{{ color | downcase | strip_newlines | strip_html | remove: '  ' | append: '.png' | replace: ' ', '-' | asset_url }}" alt="{{ color }}" /></a></li>
          {% endif %}
          {% capture tempList %}
          {{colorlist | append: color | append: ' '}}
          {% endcapture %}
          {% assign colorlist = tempList %}
          {% endunless %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        <!-- Stamped - Begin Star Rating Badge -->
        <span 
        class="stamped-product-reviews-badge" 
        data-id="{{ product.id }}"
        data-product-sku="{{ product.handle }}" 
        data-product-type="{{product.type}}" 
        data-product-title="{{product.title}}" 
        style="display:block;">
        {{product.metafields.stamped.badge}}
        </span>
        <!-- Stamped - End Star Rating Badge -->
      </div>
    </div>
  </div>