<div class="toolbar">

  <div class="toolbar-mode">
    <div class="filter-collection-left">
      <a>Filter</a>
    </div>
    <div class="collection-view">
      <label>View as</label>

      <a class="change-view grid{% unless template contains 'list' %} active{% endunless %}" id="grid" rel="tooltip" title="Grid view"><i class="clever-icon-grid"></i></a>

      <a class="change-view list{% if template contains 'list' %} active{% endif %}" id="list" rel="tooltip" title="List view"><i class="clever-icon-list"></i></a>      


    </div>

    <div class="page-total">
      Showing: {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}
    </div>

    <div class="browse-tags">
      <label>Sort by:</label>
      <select class="sort-by">
        <option value="manual">Featured</option>
        <option value="price-ascending">Price: Low to High</option>
        <option value="price-descending">Price: High to Low</option>
        <option value="title-ascending">A-Z</option>
        <option value="title-descending">Z-A</option>
        <option value="created-ascending">Oldest to Newest</option>
        <option value="created-descending">Newest to Oldest</option>
        <option value="best-selling">Best Selling</option>
      </select>           
    </div>  
  </div>

</div>


<script>

  jQuery(window).scroll(function() {    
    var scroll = jQuery(window).scrollTop();
    if (scroll > 140) {
      jQuery(".collection-page > .toolbar").addClass("ticky-ticky");
    }else{
      jQuery(".collection-page > .toolbar").removeClass("ticky-ticky");
    }
  });
  
  jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
       .bind('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });

  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('('+paramName+'=).*?(&|$)'),
        newUrl = url.replace(pattern,'$1' + paramValue + '$2');
    if ( newUrl == url ) {
      newUrl = newUrl + (newUrl.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
    }
    return newUrl;
  }



  jQuery(function() {
    jQuery('.close-sibade').on('click', function(){
      jQuery('.wrapper-container').removeClass('show-fillter');
      jQuery('body').css( "overflow", "visible" );
    });
    jQuery('.filter-collection-left > a').on('click', function(){
      jQuery('.wrapper-container').addClass('show-fillter');
      jQuery('body').css( "overflow", "hidden" );
    }
                                            );
    jQuery(document).mouseup(function (e){

      var container = jQuery("#filter-sidebar");

      if (!container.is(e.target) // if the target of the click isn't the container...
          && container.has(e.target).length === 0) // ... nor a descendant of the container
      {
        jQuery('.wrapper-container').removeClass('show-fillter');
      }
    });
    jQuery('body.template-collection .collection-view a').on('click', function() {
      jQuery('.collection-view a.active').removeClass('active');
      jQuery(this).addClass('active');

    });

    jQuery('body.template-collection .collection-view a.list').on('click', function() {
      jQuery('body.template-collection').find('.products-grid').addClass('product-list-item');
      if( jQuery('body.template-collection .products-grid').hasClass('product-grid-item')){
        jQuery('body.template-collection').find('.products-grid').removeClass('product-grid-item');

      }else{
        jQuery('body.template-collection').find('.products-grid').addClass('');
      }

    });
    jQuery('body.template-collection .collection-view a.grid').on('click', function() {
      jQuery('body.template-collection').find('.products-grid').addClass('product-grid-item');
      if( jQuery('body.template-collection .products-grid').hasClass('product-list-item')){
        jQuery('body.template-collection').find('.products-grid').removeClass('product-list-item');

      }else{
        jQuery('body.template-collection').find('.products-grid').addClass('');
      }
    });
  });


</script>