{% comment %}
Regular page content goes here.
{% endcomment %}
<div class="about-page">
  <div class="container">
      <div class="about-banner">
        {% if settings.enable_about_banner %}
        	<div class="images">
              {{ 'bg_about_banner.jpg' | asset_url | img_tag }}
            </div>
        {% endif %}
      </div>
    
	{% if settings.enable_about_text %}
     <div class="about-text-info">
       	<div class="info-item">
          	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 info-left">
                {% if settings.title_about_text != blank %}
                <div class="title-about"> 
                  {{ settings.title_about_text }}
                </div>               
                {% endif %}
             </div>
          	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 info-right">
              	{% if settings.sub_title_about_text != blank %}
                <div class="text-info"> 
                  {{ settings.sub_title_about_text }}
                </div>               
                {% endif %}
            </div>
         </div>
       
       	<div class="info-item">
          	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 info-left">
                {% if settings.title_about_text2 != blank %}
                <div class="title-about"> 
                  {{ settings.title_about_text2 }}
                </div>               
                {% endif %}
             </div>
          	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 info-right">
              	{% if settings.sub_title_about_text2 != blank %}
                <div class="text-info"> 
                  {{ settings.sub_title_about_text2 }}
                </div>               
                {% endif %}
            </div>
         </div>
    </div>
    {% endif %}


      {% comment %} Featured About {% endcomment %}
      {% include 'about-meet-team' %}
  </div>
</div>
<script>
  jQuery('.main-content > .container').removeClass('container');
</script>
{% include 'facebook-pixel-init' %}
{% include 'facebook-pixel-view-content' %}