{% include 'product-content.zipifypages', contentprt: 'header' %}<div class="container">
  <div class="row pro-layout3" id="product">
    {% if settings.enable_block_right %}
    <div class="col-xs-12 col-main col-md-9 col-sm-9">
      {% else %}
      <div class="col-xs-12 col-main col-md-12 col-sm-12">
        {% endif %}
        <div itemscope itemtype="http://schema.org/Product" class="product">
          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
          <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
          <meta itemprop="shop-currency" content="{{ shop.currency }}">

          <div class="row">
            <div class="btn-product-change product-title">
              {% if settings.display_prev_next_product and collection %}
              {% if collection.previous_product %}
              <a class="prev btn" href="{{ collection.next_product }}" title="Prev">Previous Product</a>
              {% endif %}
              {% if collection.next_product %}
              <a class="next btn" href="{{ collection.next_product }}" title="Next">Next Product</a>
              {% endif %}
              {% endif %}
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 product-img-box">


              {% if product.images.size > 1 %}		

              <div id="zt_list_product" class="thumbs">
                {% for image in product.images %}
                <div class="image-item">
                  <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}">
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>


            <div class="col-xs-12 col-md-12 col-sm-12 product-shop">
              <div class="row">
                <div class="col-md-6 col-ms-6 col-xs-12">
                  <div itemprop="offers" itemtype="http://schema.org/Offer">
                    <header
                      class="
                        product-title
                        {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}
                          has-btn
                        {% endif %}
                        {% if product.title contains 'FurryFreshness ' %}
                          product-title--split
                        {% endif %}
                      ">
                      {% if product.title contains 'FurryFreshness ' %}
                        <h2 itemprop="name"><strong>FurryFreshness</strong>{{ product.title | remove: 'FurryFreshness' }}</h2>
                      {% else %}
                        <h2 itemprop="name">{{ product.title }}</h2>
                      {% endif %}
                    </header>

                    <!-- Stamped - Begin Star Rating Badge -->
                    <span 
                    class="stamped-product-reviews-badge" 
                    data-id="{{ product.id }}"
                    data-product-sku="{{ product.handle }}" 
                    data-product-type="{{product.type}}" 
                    data-product-title="{{product.title}}" 
                    style="display:block;">
                    {{product.metafields.stamped.badge}}
                    </span>
                    <!-- Stamped - End Star Rating Badge -->


                    <div class="prices">
                      {% if product.compare_at_price > product.price %}
                      <span class="compare-price">{{ product.compare_at_price_max | money }}</span>
                      <span class="price on-sale" itemprop="price">{{ product.price | money }}</span>
                      {% else %}
                      <span class="price" itemprop="price">{{ product.price | money }}</span>
                      {% endif %}
                    </div>

                    <p class="short-description">{{ product.description | strip_html | truncatewords: 50 }}</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 product-last">
                  <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">



                    <div id="product-variants">
                      {% assign variantCount = product.variants | size %}
                      {% if product.available %} 
                      {% if variantCount > 1 %}	
                      <select id="product-selectors" name="id" style="display:none">
                        {% for variant in product.variants %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                        {% endfor %}
                      </select>

                      {% if settings.use_color_swatch %}
                      {% for option in product.options %}
                      {% include 'swatch' with option %}
                      {% endfor %}
                      {% endif %}
                      {% else %}
                      <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                      {% endif %}
                      {% endif %}
                      {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
                      <div class="availability">
                        {% if settings.display_availability %}
                        <p class="product-inventory"> <label>Availability</label><span>{% if product.selected_or_first_available_variant.inventory_management %}{% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}{% if first_inventory > 0 %}{{first_inventory}} in stock{% else %}Out of stock{% endif %}{% else %}Many in stock{% endif %}
                          </span></p>
                        {% endif %}

                      </div>
                      {% endif %}

                      {% if product.available %}
                      <link itemprop="availability" href="http://schema.org/InStock">
                      {% else %}
                      <link itemprop="availability" href="http://schema.org/OutOfStock">
                      {% endif %}
                    </div>

                    {% if product.available %} 
                    <div class="wrap-qty">
                      <div class="custom-qty">
                        <input type="text" id="quantity" name="quantity" value="1">
                        <div class="btn-plus">
                          <span class="up-qty"><i class="fa clever-icon-plus"></i></span>
                          <span class="down-qty"><i class="fa clever-icon-minus"></i></span>
                        </div>
                      </div>
                    </div>
                    <input type="submit" name="add" class="btn" id="product-add-to-cart" value="Add to Cart">          
                    {% else %} 
                    <input type="submit" name="add" class="btn" id="product-add-to-cart" disabled value="Unavailable">          
                    {% endif %}
                  </form>

                  <div class="product-share-links">
                    <div class="wishlist-detail">
                      <span>Add to wishlist: </span>
                      {% include 'wishlist-product' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if settings.enable_block_right %}
      {% include 'block-productdetail-right' %}
      {% endif %}
    </div>
  </div>
  <div class="product_socials_wrapper socials-mobi">
    <div class="share-links col-xs-12">
      <div class="share-product-text"> Share this product </div>
      <div class="product_socials_wrapper_inner"> 
        {% capture share_url %}{{ shop.url }}{{ product.url }}{% endcapture %}
        {% if settings.icon_isocal_1 != blank %}
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" target="_blank" class="facebook" title="Facebook">
          {{ settings.icon_isocal_1 }}
        </a>
        {% endif %}
        {% if settings.icon_isocal_2 != blank %}
        <a href="//twitter.com/share?url={{ share_url }}&text={{ product.title }}" target="_blank" class="twitter" title="Twitter">
          {{ settings.icon_isocal_2 }}
        </a>
        {% endif %}
        {% if settings.icon_isocal_3 != blank %}
        <a href="//pinterest.com/pin/create/button/?url={{ share_url }}&description={{ product.title }}&media={{ featured_image.src | img_url: 'original' }}" target="_blank" class="vimeo" title="vimeo">
          {{ settings.icon_isocal_3 }}
        </a>
        {% endif %}
        {% if settings.icon_isocal_4 != blank %}
        <a href="//plus.google.com/share?url={{ share_url }}" target="_blank" class="google-plus" title="Google plus">
          {{ settings.icon_isocal_4 }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="tab_pro_w">
    <div class="container">
      <div class="product-tabs ">
        <ul class="nav nav-tabs" id="myTab">
          {% if settings.display_product_detail_description %}
          <li class="active"><a data-toggle="tab" href="#collapse-tab1">{{ settings.product_description_title }}</a></li>
          {% endif %}



          {% if settings.display_product_reviews %}       
          <li><a data-toggle="tab" href="#collapse-tab2">{{ settings.product_review_title }}</a></li>
          {% endif %}
        </ul>

        <div id="myTabContent" class="tab-content">
          {% if settings.display_product_detail_description %}
          <div id="collapse-tab1" class="tab-pane fade in active">
            {{ product.description }}
          </div>
          {% endif %}



          {% if settings.display_product_reviews %}       
          <div id="collapse-tab2" class="tab-pane fade">
            {% comment %}
            Add product review widget, must install Product Review App:
            https://apps.shopify.com/product-reviews
            {% endcomment %}
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script>
    jQuery('#myTab a').click(function (e) {
      e.preventDefault();
      jQuery(this).tab('show');
    })
  </script>
  <script>
    jQuery(document).ready(function(){
      jQuery("#zt_list_product").owlCarousel({

        itemsCustom : [
          [320, 1],
          [767, 1],
          [768, 2],
          [1024, 2],
          [1025, 3],
          [1600, 3]
        ],
        autoPlay : true,
        stopOnHover : true,
        pagination : false,
        navigation : true,
        navigationText : ['<i class="clever-icon-preview"></i>','<i class="clever-icon-next"></i>']
      });
    });
    //Shopify.Image.preload({{ product.images | json }}, 'grande');

    {% if settings.display_subtotal and product.available %} 
    //update price when changing quantity
    function updatePricing() {
      //try pattern one before pattern 2
      var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
      var unitPriceTextMatch = jQuery('.product .price').text().match(regex);

      if (!unitPriceTextMatch) {
        regex = /([0-9]+[.|,][0-9]+)/g;
        unitPriceTextMatch = jQuery('.product .price').text().match(regex);      
      }

      if (unitPriceTextMatch) {
        var unitPriceText = unitPriceTextMatch[0];      
        var unitPrice = unitPriceText.replace(/[.|,]/g,'');
        var quantity = parseInt(jQuery('#quantity').val());
        var totalPrice = unitPrice * quantity;

        var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);

        totalPriceText = totalPriceText.match(regex)[0];

        var regInput = new RegExp(unitPriceText, "g");  
        var totalPriceHtml = jQuery('.product .price').html().replace(regInput ,totalPriceText); 

        jQuery('.product .total-price span').html(totalPriceHtml);      
      }
    }
    jQuery('#quantity').on('change', updatePricing);
    {% endif %}

    var selectCallback = function(variant, selector) {

      var addToCart = jQuery('#product-add-to-cart'),
          productPrice = jQuery('.product .price'),
          comparePrice = jQuery('.product .compare-price');  

      if (variant) {
        if (variant.available) {
          // We have a valid product variant, so enable the submit button
          addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');

        } else {
          // Variant is sold out, disable the submit button
          addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
        }

        // Regardless of stock, update the product price
        productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

                                              // Also update and show the product's compare price if necessary
                                              if ( variant.compare_at_price > variant.price ) {
                          productPrice.addClass("on-sale")
        comparePrice
        .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                                  .show();
              } else {
              comparePrice.hide();
        productPrice.removeClass("on-sale");
      }
      {% if settings.use_color_swatch %}
      // BEGIN SWATCHES
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
      // END SWATCHES
      {% endif %}

      {% if settings.display_subtotal and product.available %}  
      updatePricing();
      {% endif %}


    } else {
      // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
      addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
    }

    //update variant inventory
    {% if settings.display_availability %}
    if (variant.available) {
      if (variant.inventory_management!=null) {
        jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
      } else {
        jQuery(".product-inventory span").text("Many in stock");
      }
    } else {
      jQuery(".product-inventory span").text("Out of stock");
    }
    {% endif %}

    /*begin variant image*/
    if (variant && variant.featured_image) {
      var originalImage = jQuery("#product-featured-image");
      var newImage = variant.featured_image;
      var element = originalImage[0];
      Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
        jQuery('#zt_list_product img').each(function() {
          var grandSize = jQuery(this).attr('src');
          grandSize = grandSize.replace('compact','grande');
          if (grandSize == newImageSizedSrc) {
            console.log(newImageSizedSrc);
            jQuery(this).parent().trigger('click'); 
            return false;
          }
        });
      });        
    }
    /*end of variant image*/

    };

    jQuery(function($) {
      {% if product.available and product.variants.size > 1 %}
      new Shopify.OptionSelectors('product-selectors', {
        product: {{ product | json }},
        onVariantSelected: selectCallback, 
        enableHistoryState: true
      });   

      {% comment %}
      Use color swatch and linked options (copyright by @carolineschnapp)
      {% endcomment %}
      {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
      Shopify.linkOptionSelectors({{ product | json }});
      {% endif %} 

      {% if settings.use_color_swatch != true %}
      jQuery('.single-option-selector').selectize();
      jQuery('.selectize-input input').attr("disabled","disabled");
      {% endif %}

      {% endif %}

      // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
      {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
                                           {% endif %}

                                           // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                           {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                           $('.selector-wrapper').hide();
      {% endif %}

      // Auto-select first available variant on page load. Otherwise the product looks sold out.
      {% assign found_one_in_stock = false %}
      {% for variant in product.variants %}
      {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
      {% endif %}
      {% endfor %}

      {% if settings.display_product_reviews %}  
      var reviewsTimeout = setInterval(function() {
        if (jQuery(".spr-badge-caption").length>0) {
          jQuery(".spr-badge-caption").on('click', function() {
            jQuery('html,body').animate({
              scrollTop: jQuery(".panel:last").offset().top},
                                        '400');
            jQuery("#collapse-tab4").collapse('show');
          });
          clearInterval(reviewsTimeout);
        }
      },1000);

      {% endif %}

    });

  </script>

  <div class="related-w">

    {% if settings.display_related_products %} 
    {% if settings.related_products_type == "tags" %}
    {% include 'related-products-by-tags' %}
    {% else %}
    {% include 'related-products' %}
    {% endif %}
    {% endif %}

  </div>
  <script>
    jQuery('.main-content > .container').removeClass('container');
  </script>
{% include 'product-content.zipifypages', contentprt: 'footer' %}