{% if settings.display_our_team %}	
<div class="out-team-wap">
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 meet-left">
    {% if settings.title_meetteam != blank %}
    <div class="title-about"> 
      {{ settings.title_meetteam }}
    </div>               
    {% endif %}
</div>
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 meet-right">
  {% if settings.sub_title_meetteam != blank %}
    <div class="sub_title-meet"> 
      {{ settings.sub_title_meetteam }}
    </div>               
  {% endif %}
  <div id="container-team">    
    {% if settings.display_our_team_images_1 %}
    <div class="slide-carousel">
      <div class="images">
        {{ 'images-our-team1.jpg' | asset_url | img_tag }}
      </div>
      {% if settings.our_title_team_1 != blank %}
      <div class="title-team"> 
        {{ settings.our_title_team_1 }}
      </div>               
      {% endif %}
      {% if settings.our_content_team_1 != blank %}
      <div class="position">
        <p> {{ settings.about_content_team_1 }}</p>
      </div>               
      {% endif %}
    </div>
    {% endif %}

    {% if settings.display_our_team_images_2 %}
    <div class="slide-carousel">
      <div class="images">
        {{ 'images-our-team2.jpg' | asset_url | img_tag }}
      </div>
      {% if settings.our_title_team_2 != blank %}
      <div class="title-team"> 
        {{ settings.our_title_team_2 }}
      </div>               
      {% endif %}
      {% if settings.about_content_team_2 != blank %}
      <div class="position">
        <p> {{ settings.our_content_team_2 }}</p>
      </div>               
      {% endif %}
    </div>
    {% endif %}

    {% if settings.display_our_team_images_3 %}
    <div class="slide-carousel">
      <div class="images">
        {{ 'images-our-team3.jpg' | asset_url | img_tag }}
      </div>
      {% if settings.our_title_team_3 != blank %}
      <div class="title-team"> 
        {{ settings.our_title_team_3 }}
      </div>               
      {% endif %}
      {% if settings.our_content_team_3 != blank %}
      <div class="position">
        <p> {{ settings.our_content_team_3 }}</p>
      </div>               
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
</div>
{% endif %}


<script>
  $(document).ready(function() {
    $("#container-team").owlCarousel({
      itemsCustom : [
        [320, 1],
        [360, 1],
        [450, 2],
        [600, 2],
        [700, 3],
        [1000, 3],
        [1200, 3],
        [1400, 3],
        [1600, 3]
      ],
      autoPlay : false,
      stopOnHover : false,

      lazyLoad : false,
      lazyFollow : true,
      lazyEffect : "fade",
      pagination : false,

      // Navigation
      navigation : true,
      navigationText : ['<i class="arrow_carrot-left"></i>','<i class="arrow_carrot-right"></i>'],
      rewindNav : true,
      scrollPerPage : false,

    });

  })

</script>























