
{% if collection.handle %}
{% if settings.display_collection_bonus %}
<div class="sale_bonus">
  <div class="container">
    <div class="row">
      {% if settings.collection_bonus_1 != blank %}
      <div class="col-md-4 bonus_item bonus_item_1 ">
        <div class="bonus_item_border">
          <div class="bonus_item_align">
        <div class="bonus_icon">
          
        </div>
        <span>{{ settings.collection_bonus_1 }}</span>
        </div>
        </div>
      </div>
        {% endif %}  
      {% if settings.collection_bonus_2 != blank %}
      <div class="col-md-4 bonus_item bonus_item_2 ">
           <div class="bonus_item_border">
                <div class="bonus_item_align">
        <div class="bonus_icon">
          
        </div>
        <span>{{ settings.collection_bonus_2 }}</span>
        </div>
        </div>
      </div>
        {% endif %}  
      {% if settings.collection_bonus_3 != blank %}
      <div class="col-md-4 bonus_item bonus_item_3 ">
        <div class="bonus_item_border">
          <div class="bonus_item_align">
        <div class="bonus_icon">
          
        </div>
        <span>{{ settings.collection_bonus_3 }}</span>
        </div>
        </div>
      </div>
        {% endif %} 
    </div>
  </div>
</div>
{% endif %}
{% endif %}



{% if settings.display_breadcrumb %}
{% comment %}
Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' %}
<div class="clearfix breadcrumb-wrap">
<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb_position">
 
        
        <a href="/" title="Back to the frontpage">Home</a>  
        {% if template contains 'product' %}  
        {% if collection %}
        <span class="icon"></span>  
        {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        {% endif %}
        {% endif %}

        <span class="icon"></span>
        <strong>{{ product.title }}</strong>

        {% elsif template contains 'collection' and collection.handle %}

        {% if current_tags %}
        <span class="icon"></span>
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        <span class="icon"></span>
        <strong>{{ current_tags.first }}</strong>
        {% else %}
        <span class="icon"></span>
        <strong>{{ collection.title }}</strong>
        {% endif %}

        {% elsif template == 'article' %}

        <span class="icon"></span>
        {{ blog.title | link_to: blog.url }}
        <span class="icon"></span>
        <strong>{{ article.title }}</strong>

        {% elsif template contains 'page' %}

        <span class="icon"></span>
        <strong>{{ page.title }}</strong>

        {% else %}
        <span class="icon"></span>
        <strong>{{ page_title }}</strong>
        {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>  
{% endunless %}
{% endif %}