<section id="offcanvas" class="megamenu-canvas">
  <nav class="offcanvas-mainnav">
    <div id="off-canvas-button">
      <span class="off-canvas-nav"><i class="clever-icon-close"></i></span>			
    </div>
    <ul class="nav navbar-nav megamenu">
      <li class="search-mobile">
        {% if settings.show_header_search %}
        <div class="searchbox">
          <form action="/search" method="get" class="input-group search-bar navbar-form search" role="search">
            {% comment %}
            Uncomment the following hidden input to only show products in your search results
            {% endcomment %}
            {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
            <input type="text" name="q" placeholder="{{ settings.search_placeholder }}" class="input-group-field input__field-2" aria-label="Search Site" autocomplete="off">
            <span class="input-group-btn">
              <button type="submit" class="" value="Search"></button>
            </span>
          </form>
        </div>
        {% endif %}
      </li>
      {% for link in linklists.main-menu.links %}
      {% assign hasMega = false %}
      {% assign intMega = 0 %}
      {% assign link_title = link.title | downcase %}
      {% assign fullwidth = '' %}
      {% for i in (1..5) %}
      {% capture apmegamenu %}apmenuitem_enable_{{ i }}{% endcapture %}
      {% capture apmegamenu_title %}apmenuitem_title_{{ i }}{% endcapture %}
      {% assign megamenu_title = settings[apmegamenu_title] | strip | downcase %}
      {% if settings[apmegamenu] %}
      {% if link_title == megamenu_title %}
      {% assign hasMega = true %}
      {% assign intMega = i %}
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if hasMega %}
      {% capture apfullwidth %}apmenuitem_fullwidth_{{ intMega }}{% endcapture %}
      {% if settings[apfullwidth] %}
      {% assign fullwidth = 'full-width' %}
      {% else %}
      {% assign fullwidth = 'aligned-center' %}
      {% endif %}
      <li class="parent dropdown {{ fullwidth }} {% if link.active %}active{% endif %}">
        <i class="icon_plus ion-ios-plus-empty"></i>
        <a class="dropdown-toggle has-category" href="{{ link.url }}" title="{{ link.title }}">
          <span class="menu-title">{{ link.title }}</span>
        </a>
        {% assign mega_link_handle = link.handle %}

      </li>
      {% else %}
      {% if linklists[link.handle] != empty %}
      <li class="parent dropdown {% if link.active %}active{% endif %}">
        <h3>
          <i class="icon_plus ion-ios-plus-empty"></i>
          <a class="dropdown-toggle has-category" href="{{ link.url }}" title="{{ link.title }}">
            <span class="">{{ link.title }}</span>
          </a>
        </h3>
        <ul class="level-1">
          {% for child_link in linklists[link.handle].links %}
          {% if linklists[child_link.handle] != empty %}
          <li class="parent dropdown-submenu {% if child_link.active %}active{% endif %}">
            <h3><i class="icon_plus ion-ios-plus-empty"></i>
              <a class="dropdown-toggle" data-toggle="dropdown" href="{{ child_link.url }}" title="{{ child_link.title }}">
                <span class="">{{ child_link.title }}</span>
              </a>
            </h3>
            <ul class="level-2">
              {% for child_link1 in linklists[child_link.handle].links %}
              {% if linklists[child_link1.handle] != empty %}
              <li class="parent dropdown-submenu {% if child_link1.active %}active{% endif %}">
                <h3><i class="icon_plus ion-ios-plus-empty"></i>
                  <a class="dropdown-toggle" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                    <span class="">{{ child_link1.title }}</span>
                  </a>
                </h3>
                <ul class="level-3">
                  {% for child_link2 in linklists[child_link1.handle].links %}
                  <li class="{% if child_link2.active %}active{% endif %}">
                    <a class="" href="{{ child_link2.url }}" title="{{ child_link2.title }}">
                      <span class="">{{ child_link2.title }}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
              <li class="{% if child_link1.active %}active{% endif %}">
                <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                  <span class="">{{ child_link1.title }}</span>
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="{% if child_link.active %}active{% endif %}">
            <a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
              <span class="">{{ child_link.title }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>

      </li>
      {% else %}
      <li class="{% if link.active %}active{% endif %}">
        <a class="" href="{{ link.url }}" title="{{ link.title }}" target="_self">
          <span class="">{{ link.title }}</span>
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if shop.customer_accounts_enabled %}
      {% if customer %}


      <li><i class="icon_profile" aria-hidden="true"></i><a href="/account">My Account</a></li>
      {% if settings.enable_wishlist %}
      <li class="wishlist-menu">
        <i class="icon_heart" aria-hidden="true"></i>
        <a href="/pages/wish-list" title="My Wishlist">My Wishlist</a>
      </li>
      {% endif %}
      <li><i class="icon_check_alt" aria-hidden="true"></i><a href="/checkout"><span>Checkout</span></a></li>
      <li><i class="icon_lock-open"></i>{{ 'Logout' | customer_logout_link }}</li>

      {% else %}

      {% if settings.enable_wishlist %}
      <li class="wishlist-menu">
        <i class="icon_heart" aria-hidden="true"></i>
        <a href="/pages/wish-list" title="My Wishlist">My Wishlist</a>
      </li>
      {% endif %}
      <li><i class="icon_check_alt" aria-hidden="true"></i><a href="/checkout"><span>Checkout</span></a></li>
      <li><i class="icon_lock-open" aria-hidden="true"></i>
        {{ 'Sign In' | customer_login_link }}

      </li>
      <li><i class="icon_profile" aria-hidden="true"></i>
        {% if shop.customer_accounts_optional %}
        {{ 'Create an account' | customer_register_link }}
        {% endif %}
      </li>

      {% endif %}
      {% endif %}
    </ul>
  </nav>
</section>
<script>
  jQuery('.btn-menu-canvas').click(function(){
    if(jQuery('#offcanvas').hasClass('active')){
      jQuery('body').removeClass('off-canvas-active');
      jQuery('#offcanvas').removeClass('active');
      jQuery('.wrapper-container').removeClass('offcanvas-push');
    }else{ 
      jQuery('body').addClass('off-canvas-active');
      jQuery('#offcanvas').addClass('active');
      jQuery('.wrapper-container').addClass('offcanvas-push');
    }  
  });
  jQuery('#off-canvas-button').click(function(){
    jQuery('#offcanvas').removeClass('active');
    jQuery('.wrapper-container').removeClass('offcanvas-push');
  });

  jQuery(document).mouseup(function (e){

    var container = jQuery("#offcanvas");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
      jQuery('#offcanvas').removeClass('active');
      jQuery('.wrapper-container').removeClass('offcanvas-push');
    }

  });

  jQuery("#offcanvas .navbar-nav ul").hide();
  jQuery("#offcanvas .navbar-nav li h3 i").addClass("accordion-show");

  jQuery("#offcanvas .navbar-nav li h3 i").click(function(){
    if(jQuery(this).parent().next().is(":visible")){
      jQuery(this).addClass("accordion-show");
    }else{
      jQuery(this).removeClass("accordion-show");
    }
    jQuery(this).parent().next().toggle(400);
    if(jQuery(this).hasClass("ion-ios-plus-empty")){
      jQuery(this).removeClass("ion-ios-plus-empty");
      jQuery(this).addClass("icon_minus-06");
      jQuery(this).removeClass("icon_plus");
      
    }else{
      jQuery(this).removeClass("icon_minus-06");
      jQuery(this).addClass("ion-ios-plus-empty");
      jQuery(this).addClass("icon_plus");
    }
  });


</script>