{% layout none %} 
{{ 'Q122-style.css' | asset_url | stylesheet_tag }}
{{ 'Q122-bootstrap.css' | asset_url | stylesheet_tag }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Q122</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60312450-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-60312450-2');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '891864730856567');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=891864730856567&ev=PageView&noscript=1"
      /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <section class="content-blk">
		<div class="container">
			<div class="content-inner">
			<div class="row">
				<div class="col-xl-12 text-center">
					<h1>"Ugh, Do You Have Pets?"</h1>
					<h3>I was so embarrassed… My friend Mary, standing at
 the front door, looked like <strong>she was about to gag…</strong></h3>
 <p>I hadn’t realized how terrible my carpet smelled… but it was obvious I needed to do something… and SOON!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
				<p>No wonder I had such a hard time getting my <strong>friends to come over!</strong></p>
				<p>I had tried every “enzyme” product under the sun and 
nothing worked!</p>
<p><strong>My dog still went to the bathroom</strong> all over the living 
room, bedrooms, and even the kid’s playroom.</p>
<p>I knew there had to be a BETTER solution, something 
that didn’t just cover up the smell, but REALLY removed it 
and could make my house smell fresh and clean.</p>
				</div>
				<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 text-center">
					<img class="img-fluid img-style1" src="{{ 'Q122-thumb1.jpg' | asset_url }}" alt="">
				</div>
				<div class="col-sm-12">
				<p>Fortunately, I found <strong>FurryFresh, an exciting new solution for pet odor control that works for one simple reason...</strong></p>
				</div>
			</div>
			<div class="pet-block">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>It Was Created For <span>Your Pet’s 
Nose</span> And Not Your Nose</h2>
<p class="font-style2"><strong>Typical Carpet Cleaning Products</strong></p>
					</div>
				</div>
				<div class="row mt-3 mt-3">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
						<div class="thumb">
							<img class="img-fluid" src="{{ 'flower.png' | asset_url }}" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
						<div class="thumb1">
							<img class="img-fluid" src="{{ 'Q122-thumb3.jpg' | asset_url }}" alt="">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p>Other products try to cover up the smell to suit human noses….</p>
						<p>But what they are <span class="style01">really</span> doing is <strong>making the problem worse…</strong> Because <u>when your pets are exposed to those heavily toxic chemicals... they will urinate to protect their territory.</u></p>
						<p>And after the artificial fragrances fade away... <strong>the urine smell will be stronger than ever.</strong></p>
						<p>It’s a terrible cycle that damages your relationship with your pet.</p>
						<p><strong>But FurryFresh</strong> is different because...</p>
					</div>
					<div class="col-sm-12 text-center">
						<h2>It Chemically Evaporates Odor And Stains Out Of Carpet Fibers</h2>
						</div>
						<div class="col-sm-12">
						<p>... without the cheap toxic ingredients that trigger your pet to protect its territory by urinating all over your home.</p>
						<p>FurryFresh is made with <span class="red-color">natural ingredients that remove all signs of past accidents…</span> and your pets won’t be threatened by the smell (unlike 99% of other 
products on the market).</p>
<p>Even better:</p>
<p>After the formula has done its job, your pet will <strong>no longer want to pee inside.</strong></p>
<p>Say goodbye to:</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
					<div class="blk01">
						<h4>Disgusting Carpet That Could Make Your Family Sick</h4>
						<div class="thumb">
							<img class="img-fluid" src="{{ 'Q122-thumb4.png' | asset_url }}" alt="">
						</div>
					</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
					<div class="blk01">
						<h4>That Horrible Odor Following You 
Wherever You Go</h4>
						<div class="thumb">
							<img class="img-fluid" src="{{ 'Q122-thumb7.png' | asset_url }}" alt="">
						</div>
					</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
					<div class="blk01">
						<h4>Carpet Stains Returning Over Time</h4>
						<div class="thumb">
							<img class="img-fluid" src="{{ 'Q122-thumb5.jpg' | asset_url }}" alt="">
						</div>
					</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
					<div class="blk01">
						<h4>Your Pet Turning Against You</h4>
						<div class="thumb">
							<img class="img-fluid" src="{{ 'Q122-thumb6.jpg' | asset_url }}" alt="">
						</div>
					</div>
					</div>
					<div class="col-sm-12 text-center">
						<h2 class="custom01">Thousands of Pet Owners Nationwide Now Have Fresh and Clean Carpet Because of FurryFreshness</h2>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="video-outer">
						<iframe src="https://player.vimeo.com/video/656231203?autoplay=0&amp;title=0&amp;byline=0&amp;wmode=transparent&amp;autopause=0" frameborder="0" allowfullscreen="" wmode="opaque" id="fitvid424037"></iframe>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="video-outer">
						<iframe src="https://player.vimeo.com/video/656239839?autoplay=0&amp;title=0&amp;byline=0&amp;wmode=transparent&amp;autopause=0" frameborder="0" allowfullscreen="" wmode="opaque" id="fitvid415459"></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="blue-heading"><u><strong>Claim your supply of FurryFresh before our stock is gone</strong></u></h2>
					</div>
					<div class="col-sm-12">
						<p>You will be shocked at how simple it is to remove foul odors from your carpet</p>
						<p>Imagine enjoying your clean and fresh home after spraying <strong>FurryFresh</strong> just once on problem areas.</p>
						<p><strong>FurryFresh</strong> was <u>designed by a chemist</u> with a deep love for his pets. After trying all 
the enzyme products on the market, and seeing how the problem just got worse, he decided to make his own special formula that is enzyme-free.</p>
<p>The results speak for themselves!</p>
					</div>
					<div class="col-sm-12 text-center">
						<h2 class="mt-2 mb-5">FurryFresh Is 100% Natural And Safe To Use Anywhere</h2>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="block-2">
							<div class="thumb">
								<img src="{{ 'Q122-thumb8.png' | asset_url }}" alt="">
							</div>
							<h3>Carpet</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="block-2">
							<div class="thumb">
								<img src="{{ 'Q122-thumb9.png' | asset_url }}" alt="">
							</div>
							<h3>Pet Bedding</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="block-2">
							<div class="thumb">
								<img src="{{ 'Q122-thumb10.png' | asset_url }}" alt="">
							</div>
							<h3 class="smallheading">Wood & Concrete Flooring</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="block-2">
							<div class="thumb">
								<img src="{{ 'Q122-thumb11.png' | asset_url }}" alt="">
							</div>
							<h3>Furniture</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="block-2">
							<div class="thumb">
								<img src="{{ 'Q122-thumb12.png' | asset_url }}" alt="">
							</div>
							<h3>Mattresses</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="block-2">
							<div class="thumb">
								<img src="{{ 'Q122-thumb13.png' | asset_url }}" alt="">
							</div>
							<h3>Clothing</h3>
						</div>
					</div>
					<div class="col-sm-12 text-center mt-4">
					<h2>It Cleans Stains Too</h2>
					</div>
					<div class="col-sm-12">
					<p>FurryFresh not only makes your carpet smell great, <strong class="red-color">it removes stains -- no matter how deep</strong> or how long they’ve been in your carpet.</p>
					<p>And best of all, there’s no scrubbing needed! You just spray it on and allow the formula to work.</p>
					<p>FurryFresh instantly repairs your strained relationship so you can enjoy your dog or cat again.</p>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="smallThumb">
							<img class="img-fluid" src="{{ 'Q122-testimonial-new1.png' | asset_url }}" width="200" alt="">
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12 text-center">
						<p class="style01">“OMG ..I have tried at least 20 different types of stain removal products to clean stains on our cream color carpet of cat vomit and <span class="red-color">your product is a miracle product.</span> No kidding... brown vomit stains that are 3 years old came out. Best product ever!” - <strong>Annette Missik</strong></p>
					</div>
				</div>
				<div class="bottleOuter">
				<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12 text-center border-block">
				<input id="r1" type="radio" name="radio" value="1">
				<span class="checkmark"></span>
					<label for="r1" class="box">
						<div class="thumb">
							<img class="img-fluid" src="{{ 'Q122-bottle1.jpg' | asset_url }}" alt="">
						</div>
						<h2>$27.95 per bottle 
(1 bottle)</h2>
					</label>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 text-center border-block">
				<input id="r2" type="radio" name="radio" value="3" checked>
				<span class="checkmark"></span>
					<label for="r2" class="box">
						<div class="thumb">
							<img class="img-fluid" src="{{ 'Q122-bottle-best.jpg' | asset_url }}" alt="">
						</div>
						<h2>$19.95 per bottle 
(Pack of 3)</h2>
					</label>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 text-center border-block">
				<input id="r3" type="radio" name="radio"  value="6">
  <span class="checkmark"></span>
					<label for="r3" class="box">
						<div class="thumb">
							<img class="img-fluid" src="{{ 'Q122-bottle3.jpg' | asset_url }}" alt="">
						</div>
						<h2>$17.95 per bottle 
(Box of 6)</h2>
					</label>
				</div>
				</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
				<a href="https://shop.furryfreshness.com/cart/39707356364939:1" class="button" id="changedlink"><img src="{{ 'Q122-button.png' | asset_url }}" width="300" alt=""></a>
				</div>
				<div class="col-sm-12 text-center">
					<h2>If The Smell Or Stains Come 
Back?... So Does Your Money</h2>
<p>With our 60 Day Money Back Guarantee, you can rest easy knowing you are dealing with honest people who will gladly refund every dime of your money should you change your mind for any reason.</p>
				</div>
				</div>
				<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
				<p>In fact, we will make you a promise:</p>
				<p>If FurryFresh doesn’t make your carpet smell and look brand new, we will send your 
money back with NO questions asked and nothing to “prove.”</p>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 text-center">
				<img class="img-fluid" src="{{ 'Q122-guarantee.png' | asset_url }}" width="205" alt="">
				</div>
			</div>
			<div class="row mt-5">
			<div class="col-md-3 col-sm-12 col-xs-12 center-block">
			<img class="img-fluid" src="{{ 'Q122-testimonial-new2.png' | asset_url }}" width="200" alt="">
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12 text-center">
			<p class="style01">“My elderly cat"barfs up" a lot. I just spray the spot and let it dry naturally. presto! The spots are gone. I've tried MANY products and this is definite the best! Thanks Furry freshness! - Rita Deerhake</p>
			</div>
			</div>
		</div>
		</div>
	</section>
    <footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>FurryFreshness @ 2021 - All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
	<script>
	$(document).ready(function(){
	$('.checkmark').click(function(){
	$(this).closest('.border-block').find('input[name="radio"]').trigger('click');
	})
	$('input[name="radio"]').change(function(){
	
	if($(this).val() == 1){
	$('#changedlink').attr('href','https://shop.furryfreshness.com/cart/39404332417163:1');
	}
	else if($(this).val() == 6){
	$('#changedlink').attr('href','https://shop.furryfreshness.com/cart/39707357905035:1');
	}
	else{
	$('#changedlink').attr('href','https://shop.furryfreshness.com/cart/39707356364939:1');
	}
	
	})
	})
	</script>
  </body>
</html>