{% if settings.display_popup_newsletter %}
<script type="text/javascript">// <![CDATA[
  jQuery(document).ready(function() {    //
    var $popupwapper        = jQuery('#wapper-popup'),
        popupnewsletter         = jQuery('#popup-newsletter'),
        popuppage        = window.location.pathname; 


    $popupwapper.css({'position':'relative'});
    jQuery('.wrapper #popup-newsletter').remove();
    $popupwapper.append(popupnewsletter);

    if (jQuery.cookie('emailpopup') != 'closed') {
      openpopup();
    };

    jQuery('#popup-newsletter .btn.close').click(function(e) {
      e.preventDefault();
      closepopup();
    });
    jQuery('body').keydown(function(e) {
      if( e.which == 27) {popup-newsletter
      closepopup();
                          jQuery('body').unbind('keydown');
                         }
    });
    jQuery('#mc_embed_signup form').submit(function() {
      if (jQuery('#mc_embed_signup .email').val() != '') {
        closepopup();
      }
    });

    function closepopup () {
      jQuery('#popup-newsletter .popupnewsletter').fadeOut(600, function() {
        jQuery('#popup-newsletter .popup-overlay').fadeOut(600, function() {
          jQuery('#popup-newsletter').hide();
          jQuery.cookie('emailpopup', 'closed', {expires:1, path:'/'});
        });
      })
    }
    function openpopup () {
      jQuery('#popup-newsletter').fadeIn(600, function() {
        jQuery('#popup-newsletter .popupnewsletter').fadeIn(600);
      });
    }
    jQuery(document).mouseup(function (e){

      var container = jQuery(".popupnewsletter");

      if (!container.is(e.target) // if the target of the click isn't the container...
          && container.has(e.target).length === 0) // ... nor a descendant of the container
      {
        e.preventDefault();
        closepopup();
      }

    });  
  });
  // ]]
  // ]]></script>
<div id="wapper-popup">
  <div id="popup-newsletter" style="display: none;">
    <div class="popup-overlay"></div>
    <div class="popupnewsletter" style="display: none;">
      <div class="modal-bg-image"> 
        {{ 'newsletter-bg.png' | asset_url | img_tag }}
      </div>
      <div class="newsletter-popup">
        <div class="newsletter-content"><a class="btn close" title="Close"><span aria-hidden="true" class="icon_close"></span></a>
          <div class="logo-newsletter">
            <a href="/"><img src="{{ 'logo_popupnews.png' | asset_url }}" alt="{{ shop.name }}" /></a>
          </div>
          <h2 class="title">{{ settings.popup_newsletter_title }}</h2>
          <p class="sub-title">{{ settings.popup_newsletter_sub_title }}</p>
          <div id="email-subscibe">
            <div id="mc_embed_signup">{% include 'newsletter-form' %}</div>
            <!--End mc_embed_signup--></div>
          <h3 class="message">{{ settings.popup_newsletter_message }}</h3>


        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}