{% include 'product-content.zipifypages', contentprt: 'header' %}  <div class="row pro-layout1" id="product">
    {% if settings.enable_block_right %}
    <div class="col-xs-12 col-main col-md-9 col-sm-9">
      {% else %}
      <div class="col-main col-xs-12 col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        {% endif %}
        <div itemscope itemtype="http://schema.org/Product" class="product">
          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
          <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'master' }}">
          <meta itemprop="shop-currency" content="{{ shop.currency }}">

          <div class="row product-img-box">

            {% if product.images.size == 0 %}
            <div class="col-xs-12 col-sm-12 col-md-5 ">

              <img src="{{ '' | product_img_url: 'grande' }}" alt="">
            </div>
            {% else %}
            {% if product.images.size > 1 %}

            <div id="zt_list_product" class="thumbs col-xs-12 col-sm-4 col-md-1">
              <ul id="more-view-carousel" class="product-photo-thumbs jcarousel-skin-tango">
                {% for image in product.images %}
                <li class="image-item">
                  <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'master' }}"
                    data-zoom-image="{{ image.src | product_img_url: 'master' }}">
                    <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            {% endif %}
            <div class="col-xs-12 col-sm-12 col-md-5 ">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default:
              product.featured_image %}
              <a href="{{ featured_image | img_url: 'master' }}" class="zoom" id="placeholder">
                <img id="product-featured-image" src="{{ featured_image | img_url: 'master' }}"
                  alt="{{ featured_image.alt | escape }}"
                  data-zoom-image="{{ featured_image.src | img_url: 'master' }}" />
              </a>
              <div class="thumb-image-mobile">
                {% for image in product.images %}
                <div class="image-item">
                  <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'master' }}"
                    data-zoom-image="{{ image.src | product_img_url: 'master' }}">
                    <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}">
                  </a>
                </div>

                {% endfor %}
              </div>
            </div>

            {% endif %}
            <div class="col-xs-12 col-sm-1 hidden-md col-lg-1 product-shop"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 product-shop">
              <div itemprop="offers" itemtype="http://schema.org/Offer">
                <header
                  class="
                    product-title
                    {% if collection.previous_product or collection.next_product and settings.display_prev_next_product and collection %}
                      has-btn
                    {% endif %}
                    {% if product.title contains 'FurryFreshness ' %}
                      product-title--split
                    {% endif %}
                  ">
                    {% if product.title contains 'FurryFreshness ' %}
                      <h2 itemprop="name"><strong>FurryFreshness</strong>{{ product.title | remove: 'FurryFreshness' }}</h2>
                  
                    <!-- Stamped - Begin Star Rating Badge -->
                    <span 
                    class="stamped-product-reviews-badge stamped-main-badge" 
                    data-id="{{ product.id }}" 
                    data-product-sku="{{ product.handle }}" 
                    data-product-title="{{product.title}}" 
                    data-product-type="{{product.type}}" 
                    style="display: block;">
                    {{product.metafields.stamped.badge}}
                    </span>
                    <!-- Stamped - End Star Rating Badge -->
                  {% else %}
                      <h2 itemprop="name">{{ product.title }}</h2>
                    {% endif %}

                    <div class="btn-product-change">
                      {% if settings.display_prev_next_product and collection %}
                      {% if collection.previous_product %}
                      <a class="prev btn" href="{{ collection.next_product }}" title="Prev">Previous Product</a>
                      {% endif %}
                      {% if collection.next_product %}
                      <a class="next btn" href="{{ collection.next_product }}" title="Next">Next Product</a>
                      {% endif %}
                      {% endif %}
                    </div>
                </header>

                <div class="prices">
                  {% if product.compare_at_price > product.price %}
                 <span class="price on-sale" itemprop="price">{{ product.price | money }}</span>
                  <span class="compare-price">{{ product.compare_at_price_max | money }}</span> 
                  {% else %}
                  <span class="price" itemprop="price">{{ product.price | money }}</span>
                  {% endif %}
                </div>

                <p class="short-description">{{ product.description | strip_html | truncatewords: 50 }}</p>

                <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form"
                  style="margin-bottom: 0;">


                  <div id="product-variants">
                    {% assign variantCount = product.variants | size %}
                    {% if product.available %}
                    {% if variantCount > 1 %}
                    <select id="product-selectors" name="id" style="display:none">
                      {% for variant in product.variants %}
                      <option {% if variant==product.selected_or_first_available_variant %} selected="selected" {% endif
                        %} value="{{ variant.id }}"
                        data-price="{{ variant.price | money_without_currency | remove: ',' }}">{{ variant.title }} - {{
                        variant.price | money }}</option>
                      {% endfor %}
                    </select>

                    {% if settings.use_color_swatch %}
                    {% for option in product.options %}
                    {% include 'swatch' with option %}
                    {% endfor %}
                    {% endif %}
                    {% else %}
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                    {% endif %}
                    {% endif %}
                  </div>
                  
                  <div class="ro_widget"></div>
                  
                  {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
                  <div class="availability">
                    {% if settings.display_availability %}
                    <p class="product-inventory"> <label>Availability</label><span>{% if
                        product.selected_or_first_available_variant.inventory_management %}{% assign first_inventory =
                        product.selected_or_first_available_variant.inventory_quantity %}{% if first_inventory > 0
                        %}{{first_inventory}} in stock{% else %}Out of stock{% endif %}{% else %}Many in stock{% endif
                        %}
                      </span></p>
                    {% endif %}

                  </div>
                  {% endif %}

                  {% if product.available %}
                  <link itemprop="availability" href="http://schema.org/InStock">
                  {% else %}
                  <link itemprop="availability" href="http://schema.org/OutOfStock">
                  {% endif %}


                  <div class="clear_fix product-single__add-to-cart_row">
                    {% if product.available %}
                    <div class="wrap-qty">
                      <div class="custom-qty">
                        <input type="text" id="quantity" name="quantity" value="1">
                        <div class="btn-plus">
                          <span class="up-qty"><i class="fa clever-icon-plus"></i></span>
                          <span class="down-qty"><i class="fa clever-icon-minus"></i></span>
                        </div>
                      </div>
                    </div>

                    <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}">
                    <input name="email" type="hidden" value="{{ customer.email }}">
                    <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}">
                    <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}">
                    <input name="city" type="hidden" value="{{ customer.default_address.city }}">
                    <input name="company" type="hidden" value="{{ customer.default_address.company }}">
                    <input name="country" type="hidden" value="{{ customer.default_address.country }}">
                    <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}">
                    <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}">
                    <input name="phone" type="hidden" value="{{ customer.default_address.phone }}">
                    <input name="province" type="hidden" value="{{ customer.default_address.province }}">
                    <input name="zip" type="hidden" value="{{ customer.default_address.zip }}">

                    <input type="submit" name="add" class="btn addtocart" id="product-add-to-cart" value="Add to Cart!">

                    <!-- bold-ro-liquid -->
                    <div class="bold_add_to_orders"> </div> <!-- bold-ro-liquid -->

                    {% else %}
                    <input type="submit" name="add" class="btn addtocart" id="product-add-to-cart" disabled value="Unavailable">

                    {% endif %}


                  </div>
                </form>

              </div>
              <div class="product-share-links">
                <div class="wishlist-detail">
                  {% if settings.enable_wishlist %}
                  {% if customer %}
                  {% assign value = product.id %}
                  {% capture productID %}{{ product.id }}{% endcapture %}
                  {% for tag in customer.tags %}
                  {% capture tagID %}{{ tag }}{% endcapture %}
                  {% if tagID contains productID %}
                  {% capture value %}x{{ tagID }}{% endcapture %}
                  {% endif %}
                  {% if value.size == 0 %}{% assign value = productID %}{% endif %}
                  {% endfor %}

                  {% unless value.size == 0 %}
                  {% capture check %}{{ value.size | minus:productID.size | money_without_currency | times:100 |
                  divided_by:2 }}{% endcapture %}
                  {% assign check = check | split:'.' %}
                  {% if check[1] contains "5" %}{% assign display = false %}{% else %}{% assign display = true %}{%
                  endif %}
                  {% endunless %}

                  {% if display %}
                  {% form 'customer' %}
                  <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
                  <input type="hidden" name="contact[tags]" value="{{ value }}" />
                  <button class="wishlist harman_btn3" data-toggle="tooltip" data-placement="top"><i
                      class="fa fa-heart"></i><span class="tooltip-wishlist">Add to Wishlist</span></button>
                  {% endform %}
                  {% else %}
                  <a class="wishlist harman_btn3" href="/pages/wish-list" data-toggle="tooltip" data-placement="top"><i
                      class="fa fa-check"></i><span class="tooltip-wishlist">Add to Wishlist</span></a>
                  {% endif %}
                  {% else %}
                  <a class="wishlist harman_btn3" href="/account/login" data-toggle="tooltip" data-placement="top"><i
                      class="fa fa-heart"></i><span class="tooltip-wishlist">Add to Wishlist</span></a>
                  {% endif %}
                  {% endif %}
                </div>
              </div>

              <!-- Remove social share buttons  -->
              <!-- <div class="product_socials_wrapper socials-mobi">
                <div class="share-links col-xs-12">
                  <div class="share-product-text"> Share this product</div>
                  <div class="product_socials_wrapper_inner">
                    {% capture share_url %}{{ shop.url }}{{ product.url }}{% endcapture %}
                    {% if settings.icon_isocal_1 != blank %}
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" target="_blank"
                      class="facebook" title="Facebook">
                      {{ settings.icon_isocal_1 }}
                    </a>
                    {% endif %}
                    {% if settings.icon_isocal_2 != blank %}
                    <a href="//twitter.com/share?url={{ share_url }}&text={{ product.title }}" target="_blank"
                      class="twitter" title="Twitter">
                      {{ settings.icon_isocal_2 }}
                    </a>
                    {% endif %}
                    {% if settings.icon_isocal_3 != blank %}
                    <a href="//pinterest.com/pin/create/button/?url={{ share_url }}&description={{ product.title }}&media={{ featured_image.src | img_url: 'original' }}"
                      target="_blank" class="vimeo" title="vimeo">
                      {{ settings.icon_isocal_3 }}
                    </a>
                    {% endif %}
                    {% if settings.icon_isocal_4 != blank %}
                    <a href="//plus.google.com/share?url={{ share_url }}" target="_blank" class="google-plus"
                      title="Google plus">
                      {{ settings.icon_isocal_4 }}
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div> -->



            </div>


          </div>
        </div>
      </div>
      {% if settings.enable_block_right %}
      {% include 'block-productdetail-right' %}
      {% endif %}




    </div>
  </div>

  <div class="tab_pro_w">
    <div class="container">



      <div class="product-tabs ">

        {% comment %}
        <ul class="nav nav-tabs" id="myTab">
          {% if settings.display_product_detail_description %}
          <li class="active"><a data-toggle="tab" href="#collapse-tab1">{{ settings.product_description_title }}</a>
          </li>
          {% endif %}

          {% if settings.display_product_reviews %}
          <li><a data-toggle="tab" href="#collapse-tab2">{{ settings.product_review_title }}</a></li>
          {% endif %}
        </ul>
        {% endcomment %}

        <div id="myTabContent" class="tab-content">

          {% if settings.display_product_detail_description %}
          <div id="collapse-tab1" class="tab-pane fade in active">

            <div class="heading-block block-home-category-title">
              <h3 class="title">Product Description</h3>
            </div>

            {{ product.description }}
          </div>
          {% endif %}

          {% if settings.display_product_reviews %}
          <div id="collapse-tab2" class="tab-pane fade">
            {% comment %}
            Add product review widget, must install Product Review App:
            https://apps.shopify.com/product-reviews
            {% endcomment %}
            
          </div>
          {% endif %}


        </div>
      </div>


      




      <script>
        jQuery('#myTab a').click(function (e) {
          e.preventDefault();
          jQuery(this).tab('show');
        })
      </script>
    </div>
  </div>
  <script>
    jQuery(document).ready(function () {

      jQuery('#zt_list_product li').first().find('a').addClass('zoomGalleryActive');

      jQuery(".thumb-image-mobile").owlCarousel({
        itemsCustom: [
          [320, 1],
          [767, 1],
          [768, 1],
          [1024, 2],
          [1025, 1],
          [1600, 1]
        ],
        navigation: true,
        navigationText: ['<i class="clever-icon-preview"></i>', '<i class="clever-icon-next"></i>']
      });
    });
    if (jQuery(window).width() > 767) {
      jQuery(document).ready(function () {
        jQuery("#zt_list_product ul").jcarousel({
          vertical: true
        }).css("visibility", "visible");
        jQuery(".product-img-box").addClass("has-jcarousel");
        jQuery(".thumbs").css("visibility", "visible")
      });
    }




    jQuery(document).ready(function () {

    });
    //Shopify.Image.preload({{ product.images | json }}, 'grande');

    {% if settings.display_subtotal and product.available %}
    //update price when changing quantity
    function updatePricing() {
      //try pattern one before pattern 2
      var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
      var unitPriceTextMatch = jQuery('.product .price').text().match(regex);

      if (!unitPriceTextMatch) {
        regex = /([0-9]+[.|,][0-9]+)/g;
        unitPriceTextMatch = jQuery('.product .price').text().match(regex);
      }

      if (unitPriceTextMatch) {
        var unitPriceText = unitPriceTextMatch[0];
        var unitPrice = unitPriceText.replace(/[.|,]/g, '');
        var quantity = parseInt(jQuery('#quantity').val());
        var totalPrice = unitPrice * quantity;

        var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);

        totalPriceText = totalPriceText.match(regex)[0];

        var regInput = new RegExp(unitPriceText, "g");
        var totalPriceHtml = jQuery('.product .price').html().replace(regInput, totalPriceText);

        jQuery('.product .total-price span').html(totalPriceHtml);
      }
    }
    jQuery('#quantity').on('change', updatePricing);
    {% endif %}

    var selectCallback = function (variant, selector) {

      var addToCart = jQuery('#product-add-to-cart'),
        productPrice = jQuery('.product .price'),
        comparePrice = jQuery('.product .compare-price');

      if (variant) {
        if (variant.available) {
          // We have a valid product variant, so enable the submit button
          addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');

        } else {
          // Variant is sold out, disable the submit button
          addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
        }

        // Regardless of stock, update the product price
        productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

        // Also update and show the product's compare price if necessary
        if (variant.compare_at_price > variant.price) {
          productPrice.addClass("on-sale")
          comparePrice
            .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
            .show();
        } else {
          comparePrice.hide();
          productPrice.removeClass("on-sale");
        }
        {% if settings.use_color_swatch %}
        // BEGIN SWATCHES
        var form = jQuery('#' + selector.domIdPrefix).closest('form');
        for (var i = 0, length = variant.options.length; i < length; i++) {
          var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] + '"]');
          if (radioButton.size()) {
            radioButton.get(0).checked = true;
          }
        }
        // END SWATCHES
        {% endif %}

        {% if settings.display_subtotal and product.available %}
        updatePricing();
        {% endif %}


      } else {
        // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
        addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
      }

      //update variant inventory
      {% if settings.display_availability %}
      if (variant.available) {
        if (variant.inventory_management != null) {
          jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
        } else {
          jQuery(".product-inventory span").text("Many in stock");
        }
      } else {
        jQuery(".product-inventory span").text("Out of stock");
      }
      {% endif %}



      if (variant && variant.featured_image) {
        var originalImage = jQuery("#product-featured-image");
        var newImage = variant.featured_image;
        var element = originalImage[0];

        function removeExtent(str) {
          var arr = str.split("v=");
          if (arr[0])
            return arr[0];
        }




        Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
          jQuery('#zt_list_product img').each(function () {

            var grandSize = jQuery(this).attr('src');
            grandSize = grandSize.replace('_compact', '');

            grandSize = grandSize.replace('.jpg.jpg', '.jpg');
            grandSize = removeExtent(grandSize);

            newImageSizedSrc = newImageSizedSrc.replace('https:', '');
            newImageSizedSrc = newImageSizedSrc.replace('http:', '');
            newImageSizedSrc = newImageSizedSrc.replace('_grande', '');

            newImageSizedSrc = newImageSizedSrc.replace('.jpg.jpg', '.jpg');

            newImageSizedSrc = removeExtent(newImageSizedSrc);
            if (grandSize == newImageSizedSrc) {
              // Change Featured Image
              jQuery('#product-featured-image').attr('src', jQuery(this).parent().attr('data-image'));
              jQuery('#product-featured-image').attr('data-zoom-image', jQuery(this).parent().attr('data-zoom-image'));
              $('#product-featured-image').parents('a').attr('href', jQuery(this).parent().attr('data-image'));

              // Add Zoom Effect
              if ($(window).width() > 782) {
                $('#product-featured-image').parent().trigger('zoom.destroy');
              }

              // Thumbnail selection effect
              jQuery('#product .thumbs a').removeClass('zoomGalleryActive');
              jQuery(this).parent().addClass('zoomGalleryActive');

              return true;
            }
          });
        });
      }


      /*end of variant image*/

    };

    jQuery(function ($) {
      {% if product.available and product.variants.size > 1 %}
      new Shopify.OptionSelectors('product-selectors', {
        product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
      });

    {% comment %}
    Use color swatch and linked options(copyright by @carolineschnapp)
    {% endcomment %}
    {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
    Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}

    {% if settings.use_color_swatch != true %}
    jQuery('.single-option-selector').selectize();
    jQuery('.selectize-input input').attr("disabled", "disabled");
    {% endif %}

    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    {% endif %}

    // Auto-select first available variant on page load. Otherwise the product looks sold out.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
    {% assign found_one_in_stock = true %}
    {% for option in product.options %}
    $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
    {% endfor %}
    {% endif %}
    {% endfor %}

    {% if settings.display_product_reviews %}
    var reviewsTimeout = setInterval(function () {
      if (jQuery(".spr-badge-caption").length > 0) {
        jQuery(".spr-badge-caption").on('click', function () {
          jQuery('html,body').animate({
            scrollTop: jQuery(".panel:last").offset().top
          },
            '400');
          jQuery("#collapse-tab4").collapse('show');
        });
        clearInterval(reviewsTimeout);
      }
    }, 1000);

    {% endif %}

    });

  </script>

  <div class="related-w">

    {% if settings.display_related_products %}
    {% if settings.related_products_type == "tags" %}
    
    <!--Stamped - Begin Main Widget -->
    <div 
    id="stamped-main-widget"   
    data-widget-style="standard" 
    data-product-id="{{ product.id }}"   
    data-name="{{ product.title | escape }}"   
    data-url="{{ shop.url }}{{ product.url }}"   
    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
    data-description="{{ product.description | escape }}"   
    data-product-sku="{{product.handle}}"
    data-product-title="{{product.title}}" 
    data-product-type="{{product.type}}">   
    {{product.metafields.stamped.reviews}}   
    </div>
    <!-- Stamped - End Main Widget -->
    
    {% render 'related-products-by-tags' %}
    {% else %}
    {% include 'related-products' %}
    {% endif %}
    {% endif %}

  </div>

  <div class="product-subscribe-popup">
    <div class="popup-container">
      <div class="contents">
        Yes, I understand that I am subscribing to receive <br>a {{product.title}} every <span class="months"></span>
        month(s) until I cancel the subscription.<br><br>
        <strong>** You can edit, upgrade, or cancel your subscription at anytime **</strong>
      </div>
      <div class="button-area">
        <a href="" class="btn-popup-accept">Accept</a>
        <a href="" class="btn-popup-cancel">Cancel</a>
      </div>
    </div>
  </div>
  <script>
    /********** Subscription functionality **********/
    var subscriptionAcception = false;

    // Add Price to left box
    jQuery('.main-content > .container').removeClass('container');
    var interValSubscribe;

    var funcSubscribe = function () {
      var obj = $('.bold-ro__product .bold-ro__one-time-div span');
      if (obj.length > 0 && obj.html().trim() == 'One-time purchase') {
        // Add Price
        obj.append('<br><span class="price">{{ product.price | money }}</span>');

        // Break subscription price into separate line
        var subscriptionTextContainer = $('.bold-ro__product .bold-ro__recurring-div .bold-ro__recurring-lbl');
        subscriptionTextContainer.html(subscriptionTextContainer.html().replace(' (', '<br> ('))

        // Add click event
        $('.bold-ro__product .bold-ro__recurring-div').click(function () {
//           $('#add-to-cart-form input[type=submit]').hide();
//           $('.bold-ro__product .bold-ro__recurring-div').show();

          return;

          // Popup alert
          if (!subscriptionAcception) {
            $('.product-subscribe-popup .months').html($('.bold-ro__product .bold-ro__frequency-num').val());
            $('.product-subscribe-popup').show();
          }
        });

        $('.bold-ro__product .bold-ro__frequency-num').change(function () {
          $('.product-subscribe-popup .months').html($(this).val());
          $('.product-subscribe-popup').show();
        });

        $('.bold-ro__product .bold-ro__one-time-div').click(function () {
//           $('#add-to-cart-form input[type=submit]').show();
//           $('.bold-ro__product .bold-ro__frequency-div').hide();
        });

        $('.product-subscribe-popup .btn-popup-cancel').click(function (e) {
          e.preventDefault();
          $('.product-subscribe-popup').hide();
          $('.bold-ro__product .bold-ro__one-time-div').trigger('click');
        });
        $('.product-subscribe-popup .btn-popup-accept').click(function (e) {
          e.preventDefault();
          subscriptionAcception = true;
          $('.product-subscribe-popup').hide();
        });

        // Clear Interval
        clearInterval(interValSubscribe);
      }
    }

    interValSubscribe = setInterval(funcSubscribe, 1000);

  </script>


  <script text="text/javascript">
    var _learnq = _learnq || [];

    var item = {
      Name: {{ product.title| json }},
    ProductID: { { product.id | json } },
    Categories: { { product.collections | map: 'title' | json } },
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
      URL: "{{ shop.secure_url }}{{ product.url }}",
        Brand: { { product.vendor | json } },
    Price: { { product.price | money | json } },
    CompareAtPrice: { { product.compare_at_price_max | money | json } }
  };

    _learnq.push(['track', 'Viewed Product', item]);
    _learnq.push(['trackViewedItem', {
      Title: item.Name,
      ItemId: item.ProductID,
      Categories: item.Categories,
      ImageUrl: item.ImageURL,
      Url: item.URL,
      Metadata: {
        Brand: item.Brand,
        Price: item.Price,
        CompareAtPrice: item.CompareAtPrice
      }
    }]);
  </script>

  <!-- Facebook pixel events by Codematic-->
  {% include 'facebook-pixel-view-content' %}
  {% include 'facebook-pixel-add-to-cart' element_id: "product-add-to-cart"%}

  {% include 'product-content.zipifypages', contentprt: 'footer' %}
